{% extends "enroll/base.html" %}
{% block content %}
<div class="row">
    <div class="col-sm-4">
        <h2 class="text-center alert alert-info">Add New Student</h2>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-success" value="Add">
        </form>
    </div>
    <div class="col-sm-8">
        <h2 class="text-center alert alert-info">Show Student Details</h2>
        {% if stu %}
        <table class="table table-hover">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
            </tr>
            <tbody>
            {% for student in students %}
            <tr>
                <th scope="row">{{st.id}}</th>
                <td>{{ student.id }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.email }}</td>
                <td>
                    <a href="{% url 'edit' student.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'delete' student.id %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
</div>
{% endblock content %}